<%
var title = '', classes = 'archives-title';

if (is_category()) {
  title = page.category;
  classes += ' category';
} else if (is_tag()) {
  title = page.tag;
  classes += ' tag';
} else if (is_archive()) {
  if (is_year()) {
    title = page.year;
  } else if (is_month()) {
    title = page.year + page.month;
  }
}
%>

<!-- Banner -->
<% if (banner == 'index'){ %>
	<div class="under-navbar">
		<li><i class="icon-th-list"></i> 最新动态</li>
	</div>
	<hr>
<% } else if (banner == 'post') { %>
  	<div class="under-navbar">
		<li><i class="icon-th-list"></i> 阅读文章</li>
	</div>
	<hr>
<% } else if (banner == 'archive') { %>
	<% if (title) { %>
		<div class="under-navbar">
			<li>
				<i class="icon-th-list"></i> 分类为
				<span class="archive-top-icon"><%= title %><i class="icon-paper-clip"></i></span>
				的归档
				<span id="all_categories"><a href="<%- config.root %>categories">全部分类</a></span>
			</li>
		</div>
		<hr>
	<% } else { %>
		<div class="under-navbar">
			<li><i class="icon-th-list"></i> 归档目录</li>
		</div>
		<hr>
	<% } %>
<% } else if (banner == 'tag') { %>
	<% if (title) { %>
		<div class="under-navbar">
			<li>
				<i class="icon-th-list"></i> 标签为
				<span class="archive-top-icon"><%= title %><i class="icon-paper-clip"></i></span>
				的归档
				<span id="all_categories"><a href="<%- config.root %>tags">全部标签</a></span>
			</li>
		</div>
		<hr>
	<% } %>
<% } else if (banner == 'tags') { %>
	<div class="under-navbar">
		<li>
			<i class="icon-th-list"></i> 全部归档</li>
	</div>
	<hr>
<% } %>