<!-- Banner -->
<% if (banner == 'index'){ %>
	<div class="under-navbar">
		<li><i class="icon-th-list"></i> 最新动态</li>
	</div>
<% } else if (banner == 'post') { %>
  	<div class="under-navbar">
		<li><i class="icon-th-list"></i> 阅读文章</li>
	</div>
<% } %>

<hr>