<div class="row">
    <div class="col-md-12">
        <footer>
            <p>&copy2014 本站内容未做特别说明者均使用<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创作共用</a>协议 Hosted by <a href="https://github.com">Github </a>and powerd by<a href="https://github.com/lizzzz"> Liz</p>
        </footer>
    </div>
    <!-- /.col-md-12 -->
        
</div>
<!-- /.row -->

