<div class="row">
    <div class="col-md-12">
        <footer>
            <p>
            	&copy 2014-2016 <a href="iwangchen.com">懒人的站</a> | 本站内容未做特别说明者均使用<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创作共用</a>协议 |  Hosted by <a href="https://github.com">Github</a> and Powerd by <a href="http://hexo.io">Hexo</a>
            	<span id="busuanzi_container_site_uv">
  					  | 本站访客数 <span id="busuanzi_value_site_uv"></span> 人次
				</span>
            </p>
        </footer>
    </div>
    <!-- /.col-md-12 -->
        
</div>
<!-- /.row -->

