<div class="row">

	<% if (theme.widgets.length) { %>
	<div class="col-md-8">
	<% } else { %>
	<div class="col-md-12">
	<% } %>
		<div class="under-navbar">
			<li><i class="icon-th-list"></i> 最新动态</li>
		</div>
		
		<hr>

		<article>		
			<!-- title and entry -->
			<% page.posts.each(function(item){ %>
				<div class = "header">
					<%- partial('post/title', {item: item, index: index}) %>
				</div>
				<%- partial('post/entry', {item: item, index: index}) %>
			<% }); %>

		</article>

		<!-- pagination -->
		<div>
  		<center>
		<%- partial('index_pagination') %>
  		</center>
		</div>

		
		
	</div> <!-- col-md-8 -->

	<% if (theme.widgets.length) { %>
		<%- partial('sidebar') %>
	<% } %>
	
</div> <!-- row-fluid -->