<!-- Left -->
<% if (banner == 'index'){ %>
	<div class="side-icon">
      <a href="/">
        <i class="icon-hand-right icon-2x"></i>
      </a>
    </div>
<% } else if (banner == 'post') { %>
  	<div class="side-icon">
      <a href="/">
        <i class="icon-hand-right icon-2x"></i>
      </a>
    </div>
<% } else if (banner == 'archive') { %>
	<div class="side-icon">
      <a href="/">
        <i class="icon-file-alt icon-2x"></i>
      </a>
    </div>
<% } %>