article

  .header  /* 标题前的竖线 */
    border-left 1px solid color-meta
    padding 0 0 0 10px
    text-align left

    time  /* 时间 */
      color color-meta
      font 0.9em font-title 
      display block     

