<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/navigation') %>
    <div class="container">
    	<%- body %>
    	
    </div>
    <div class="container-narrow">
    	<%- partial('_partial/footer') %>
    </div>
</body>
</html>
