<%- partial('_partial/head') %>
<body>
	<div class="container">
    	<%- partial('_partial/navigation') %>
    	<%- body %>    	
    </div>
    <div class="container-narrow">
    	<%- partial('_partial/footer') %>
    </div>
</body>
</html>
