<% if (theme.about_me){ %>
<div class="about_me">
  <ul class="entry">
    <% if (theme.about_me.img){ %>
    <li><img width="100" title="img" src="<%- config.root %><%= theme.about_me.img %>" /></li>
    <% } %>
    <% theme.about_me.texts.forEach(function(item){ %>
    <li><%- item %></li>
    <% }); %>
    <ul class="social-icons">
        <li><a href="https://github.com/lizzzz/" class="social_github"></a></li>
        <li><a href="http://www.douban.com/people/wangchenqd/" class="social_douban"></a></li>
        <li><a href="http://weibo.com/wangchenqd" class="social_weibo"></a></li>
        <li><a href="https://twitter.com/" class="social_twitter"></a></li>
        <li><a href="https://www.facebook.com" class="social_facebook"></a></li>
        <li><a href="https://www.linkedin.com" class="social_linkedin"></a></li>
    </ul>
  </ul>
</div>
<% } %>