<% if (theme.about_me){ %>
<div class="about_me">
  <div class="entry">
  	<div class="top">
   		<% if (theme.about_me.img){ %>
    	<div class="top-img">
    		<img width="100" title="img" src="<%- config.root %><%= theme.about_me.img %>" />
    	</div>
    	<% } %>
    </div>
    <% theme.about_me.texts.forEach(function(item){ %>
    <p><%- item %></p>
    <% }); %>
    <hr>
    <P>心怀感恩，不忘初心。</P>
    <P>是不是很文艺？不过我说的是真的。</P>
    <p>这个家伙很懒，实在不想多说了。</p>
    <div class="social-icons">
    	<p>
         	<a href="https://github.com/lizzzz/" class="social_github"></a>
        	<a href="http://weibo.com/wangchenqd" class="social_weibo"></a>       
          <a href="http://wpa.qq.com/msgrd?v=3&uin=28332039&site=qq&menu=yes" class="social_qq"></a>
        </p>
    </div>
  </div>
</div>
<% } %>