<% if (theme.links.length){ %>
	<div class="widget">
		<div class="widget-icon">
			<i class="fa fa-calendar-check-o fa-fw"></i>
			<p><%= __('link') %> · · · · · · · · · · · · · (<a href="#">全部</a>)</p>
		</div>
		
		<ul class="blogroll list-unstyled">		
			<% for (var i in theme.links){ %>
				<li><i class="fa fa-share-alt fa-fw"></i>&nbsp;<a href="<%- theme.links[i].url %>" target="_blank"><%= theme.links[i].title %></a></li>
			<% } %>
		</ul>
	</div>
<% } %>




