<div class="share">
	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style">
		<span class="jiathis_txt"><i class="icon-share"></i>分享给好友&nbsp</span>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_douban"></a>
		<a class="jiathis_button_cqq"></a>
		<a class="jiathis_button_weixin"></a>
		<a class="jiathis_button_pocket"></a>
		<a href="http://www.jiathis.com/share?uid=1994712" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	</div>
	<script type="text/javascript">
	var jiathis_config = {data_track_clickback:'true'};
	</script>
	<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1994712" charset="utf-8"></script>
	<!-- JiaThis Button END -->
</div>