<% if (post.tags && post.tags.length > 0){ %>
  <%post.tags.forEach(function(tag){ %>
  	<span>| </span> 
  	<span><a href="<%-config.root%><%-tag.path%>"><%= tag.name %></a></span>
  <%  
  });
  %>
<% } %>